input {
  width: 100%;
  height: 40px;
  /* border-radius: 18px; */
  border: 2px solid rgb(16, 173, 134);
  outline: none;
  box-shadow: rgba(1, 163, 164, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 5px 10px;
  transition: all 0.5s;
}
input:hover {
  border-color: #f39c12;
}
h2 {
  color: #3a3e43;
  text-transform: capitalize;
  font-style: italic;
  font-weight: lighter;
}

i {
  color: #fd79a8;
  font-size: 28px;
  padding-left: 20px;
  cursor: pointer;
}
span {
  font-size: 28px;
  color: #eab543;
  padding-left: 40px;
  font-style: italic;
}
.result {
  background-color: #223d47;
  /* border-radius: 30px; */
}

button {
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  font-size: 0.94rem;
  font-weight: 500;
  background-image: linear-gradient(
    to right,
    #16a085 0,
    #2c3e50 51%,
    #16a085 100%
  );
  background-size: 200%;
  border: 1px solid transparent;
  outline: none;
  /* border-radius: 1.875rem; */
  color: #fff;
  cursor: pointer;
  line-height: 1.2;
  transition: all 0.5s;
  margin-top: 20px;
}
button:hover {
  background-position: right center;
}
button:focus {
  outline: none;
}
